@media only screen and (max-width: 768px)
{
	/*Opmaak html*/
html{
	font-family:"Myriad Pro", Helvetica, Arial, sans-serif
	}


/*Opmaak header*/
header{
	color:black;
	text-align:left;
	font-size:250%;
	text-shadow: 4px 4px 4px gray;
} 
	
#Titel
{
	position: relative;
	top: 60px;
}
	
h1{
	color:black;
	text-align:left;
	font-size:250%;
	text-shadow: 4px 4px 4px gray;
	}
/*Achtergrond header links*/
#header-background{
	text-indent:33%;
	background:url('LogoBedrijf.jpg');
	background-repeat:no-repeat;
	mix-blend-mode:multiply;
	height:190px;
}

/*Opmaak body*/
body{
	text-align:center;
	width:400px;
	margin: auto;
	background:url('achtergrondwit.png');
	background-size:100%;
	min-height: 100vh;
    	display: flex;
    	flex-direction: column;
	}

/*opmaak missie*/
#missie{
	width:70%;
    	height:auto;
	color:black;
	padding-left:10px;
	font-weight:bold;
}
/*opmaak visie*/
#visie{
	width:70%;
    	height:auto;
	color:black;
	border-radius:10px;
	padding-left:10px;
	font-weight:bold;
	
}

#Taken{
	width:auto;
    height:auto;
	color:black;
	border-radius:10px;
	padding-left:10px;
	font-weight:bold;
	padding-bottom:30px;
}

h2{
	background-color:black;
	color:white;
	text-align:center;
	margin-bottom:2px;
	border-radius:10px;
}
	h3{
	background-color:black;
	border-radius:10px;
	text-align:center;
}
.Links{
	font-size:25px;
	width:auto;
    	height:auto;
	color:white;
	padding-left:10px;
	font-weight:bold;
}

#ContactGegevens{
	color:black;
	padding-top:30px;
	padding-left:10px;
	font-weight:bold;
}
	
footer{
	 margin-top: auto;	
	}
	
}


@media only screen and (min-width: 769px)
{
	/*Opmaak html*/
	html{
	font-family:"Myriad Pro", Helvetica, Arial, sans-serif
	}

/*Opmaak header*/
header{
	color:black;
	text-align:center;
	font-size:250%;
	text-shadow: 4px 4px 4px gray;
	

} 
	
#Titel
{
	position: relative;
	top: 60px;
}
	
/*Achtergrond header links*/
#header-background{
	
	background:url('LogoBedrijf.jpg');
	background-repeat:no-repeat;
	mix-blend-mode:multiply;
	height:190px;
}

/*Opmaak body*/
body{
	text-align:center;
	width:640px;
	margin: auto;
	background:url('achtergrondwit.png');
	background-size:100%;
	min-height: 100vh;
    	display: flex;
    	flex-direction: column;
	}

/*opmaak missie*/
#missie{
	width:auto;
    height:auto;
	color:black;
	padding-left:10px;
	font-weight:bold;
}
/*opmaak visie*/
#visie{
	width:auto;
    height:auto;
	color:black;
	border-radius:10px;
	padding-left:10px;
	font-weight:bold;
	padding-bottom:30px;
}

#Taken{
	width:auto;
    height:auto;
	color:black;
	border-radius:10px;
	padding-left:10px;
	font-weight:bold;
	padding-bottom:30px;
}

h2{
	background-color:black;
	color:white;
	text-align:center;
	margin-bottom:2px;
	border-radius:10px;
}

#ContactGegevens{
	color:black;
	font-weight:bold;
	font-size:20px;
}
.Links{
	font-size:25px;
	width:auto;
    	height:auto;
	color:white;
	padding-left:10px;
	font-weight:bold;
}
h3{
	background-color:black;
	border-radius:10px;
	text-align:center;
}
#ContactGegevensFooder{
	color:black;
	font-weight:bold;
	border-top:solid;
}
	footer{
	 margin-top: auto;	
	}
}
